<div class="col-md-6 col-lg-4 mt-5 wow fadeInUp" data-wow-delay=".2s"
    style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <div class="blog-grid">
        <div class="blog-grid-img position-relative"><img alt="img" src= <%= blogImage %>>
        </div>
        <div class="blog-grid-text p-4">
            <h3 class="h5 mb-3"><a href="#!"><%=blogTitle %></a></h3>
            <p class="display-30"><%=blogDescription %></p>
            <div class="meta meta-style2">
                <ul>
                    <li><a href="/content/<%=blogId%>"><i class="fas fa-calendar-alt"></i> 10 Jul,
                            <script>document.write(new Date().getFullYear())</script>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
